<div class="paginator-container">
  <div *ngIf="products.length > 5">
    <mat-paginator
      [length]="products.length - 1"
      [hidePageSize]="true"
      [pageSize]="pageIndex"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      (page)="OnPageChanged($event)"
      aria-label=""
    >
    </mat-paginator>
  </div>
</div>

<div class="product-container">
  <mat-card>
    <mat-card-content>
      <ng-container *ngIf="productsSlice.length">
        <bfr-product-list-item
          *ngFor="let product of productsSlice"
          [product]="product"
        ></bfr-product-list-item>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
